{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

{% if pokemon %}
    <h1>Edit {{ pokemon.name }}</h1>
  {% else %}
    <h1>Add a Pokemon</h1>
  {% endif %}
<div class="page-header">
  <h1>Add a Pokemon</h1>
  <img src="{% static 'images/pokeball_large.png' %}" alt="A pokeball with a red top and a white bottom"/>
</div>
<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}